<ion-view title="About" hide-nav-bar="true" hide-back-button="true" id="page17" class=" ">
    <ion-content style="" scroll="true" padding="false" class="modal_background manual-ios-statusbar-padding">
		<div class="row card" style="background-image: url('img/aboutdashboard_background.jpg');background-repeat: no-repeat center center fixed; -webkit-background-size: contain;background-size: cover;background-position: center;">
			<div class="col col-10">
			</div>
			<div class="col col-90">
    	    	<h1 style="color: #ff6600;font-size: 55px; font-style: italic;font-family: Trebuchet MS; font-weight: 500; text-align: center;height:100px;text-shadow: 1px 1px #3e3e3e;" class="" id="logIn-heading1"> WHAT IS WHAT?</h1>
    	    </div>
    	</div>
    	<div class="row" style="background-color: transparent;">
    		<div class="col col-90">
    		</div>
    		<div class="col col-20">
    			<button class="button button-dark button-inline" style="align-items: right; font-weight:400;border-radius:10px 10px 10px 10px;box-shadow:5px 5px 5px #888888;text-shadow: 2px 2px #6c7b8b;" type="submit" id="signin-button4" ui-sref="signIn">Back to Sign In</button>
    		</div>
    	</div>
	    <div class="row" style="background-color: transparent;">
	    	<button class="button button-energized button-inline" style="height: 750px; align-items: right; font-weight:400;border-radius:10px 10px 10px 10px;box-shadow:5px 5px 5px #888888;text-shadow: 2px 2px #6c7b8b;" type="submit" id="signin-button4"></button>
        	<div class="card" style="height: 100%; background-color: #dfdfdf; border-radius:5px 5px 5px 5px;box-shadow: 1px 1px #3e3e3e;">
        		<h3 style="margin-left: 10px;">What is Delivery Dashboard ?</h3>
            	<h5 style="margin-left: 10px;">
            		Delivery Dashboard is a scrum portal, which allows maintaining project development phase in agile way. It allows user to maintain scrum details on daily, weekly or monthly according to sprint duration basis.
            	</h5>
        	</div>
        	<div class="card" style="height: 100%; background-color: #dfdfdf; border-radius:5px 5px 5px 5px;box-shadow: 1px 1px #3e3e3e;">
        		<h3 style="margin-left: 10px;">How it works ?</h3>
            	<h5 style="margin-left: 10px;">
            		It works in easy and in very few friendly steps.
            	</h5>
        	</div>	                    
        </div>    
    </ion-content>
</ion-view>