<ion-view style="background-color: transparent;" title="Add Sprint Data" hide-back-button="true" id="page8" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding modal_background" style="" scroll="true" padding="false" class="manual-ios-statusbar-padding">
    	<ion-slide-box>
		  	<ion-slide style="height:300px;">
			    <div class="card modal_header" style="border-radius:10px 10px 10px 10px;width:auto;">
			    	<h3 style="background-color: transparent;color: blue; font-weight: 400; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Fill Project Details</h3>
			    	<hr>
			    	<div style="width: 283px; height: 10px;" class="spacer"></div>
			    	<div class="row" style="background-color: transparent;">
			    		<div class="col col-90">
					    	<label class="item item-select card" name="id" id="projectList-select1" style="border-radius:10px 10px 10px 10px;width:90%;float:left;background-color:#95a5a6;">
					    		<span class="input-label" style="font-weight:500;font-size:15px;text-align:left;background-color:#95a5a6;">Program</span>
								<select style="font-weight:500;font-size:15px;width:90%;background-color:#95a5a6;" ng-model="programSelect" 
		                    		ng-options="prgLst.id as prgLst.name for prgLst in userProgramLst" ng-change="getProjectOnProgram(programSelect)">
		                    		<option value="">Select</option>
		                    	</select>
		                	</label>	                	
					    	<label class="item item-select card" name="id" id="projectList-select1" style="border-radius:10px 10px 10px 10px;width:90%;float: left;background-color:#95a5a6;">
					            <span class="input-label"  style="font-weight:500;font-size:15px;text-align:left;background-color:#95a5a6;">Project</span>
								<select style="font-weight:500;font-size:15px;width:90%;background-color:#95a5a6;" ng-model="projectSelect" 
			                    ng-options="projLst.id as projLst.name for projLst in userProjectLst">
			                        <option value="">Select</option>
								</select>			            
					        </label>
			        	</div>
			        	<div class="col col-10">
			        		<button class="button button-positive  button-inline icon ion-arrow-right-c icon-right" style="font-weight:300;border-radius:10px 10px 10px 10px;height:150px;float: right;" type="submit" id="addAccount-button4" ng-click="nextSlide()"></button>
			        	</div>
                	</div>
			    </div>	    
		  	</ion-slide>
		  	<ion-slide style="height:700px;">
			    <div class="card modal_header" style="border-radius:10px 10px 10px 10px;width:auto;">
			    	<h3 style="background-color: transparent;color: blue; font-weight: 400; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Fill Sprint Details</h3>
			    	<hr>
			    	<div style="width: 283px; height: 10px;" class="spacer"></div>
			    	<div class="row" style="background-color: transparent;">
			    		<div class="col col-10">
			    			<button class="button button-assertive  button-inline icon ion-arrow-left-c icon-left" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 350px;float: left;" type="submit" id="addAccount-button4" ng-click="previousSlide()"></button>
			    		</div>
			    		<div class="col col-80">
			    			<ion-toggle ng-model="isSprintActive" name="isSprintActive" toggle-class="toggle-calm card" style="border-radius:10px 10px 10px 10px;width:90%;margin:10px;background-color:#95a5a6;">Is Sprint Active?</ion-toggle>
					    	<label class="item item-input card" id="sprint-input2" name="sprint" style="border-radius:10px 10px 10px 10px;width:90%;background-color:#95a5a6;">
			                    <span class="input-label" style="background-color:#95a5a6;">Sprint</span>
			                    <input type="number" placeholder="Sprint No" ng-model="sprint" style="background-color:#95a5a6;" required="">
			                </label>
			                <label class="item item-input card" id="sprintStartDate-input7" style="border-radius:10px 10px 10px 10px;width:90%;background-color:#95a5a6;">
			                    <span class="input-label" style="background-color:#95a5a6;">Sprint Start Date</span>
			                    <input type="date" placeholder="mm/dd/yyyy" ng-model="startDate" style="background-color:#95a5a6;" name="startDate">
			                </label> 
			                <label class="item item-input card" id="sprintEndDate-input8" style="border-radius:10px 10px 10px 10px;width:90%;background-color:#95a5a6;">
			                    <span class="input-label" style="background-color:#95a5a6;">Sprint End Date</span>
			                    <input type="date" placeholder="mm/dd/yyyy" ng-model="endDate" style="background-color:#95a5a6;" name="endDate">
			                </label>
			                <label class="item item-input card" id="userstorycount-input2" style="border-radius:10px 10px 10px 10px;width:90%;background-color:#95a5a6;">
			                    <span class="input-label" style="background-color:#95a5a6;">User Story Count</span>
			                    <input type="number" placeholder="User Story Count" required=""  name="userStoryCount" style="background-color:#95a5a6;" ng-model="userStoryCount">
			                </label>
			    		</div>
			    		<div class="col col-10">
			    			<button class="button button-positive  button-inline icon ion-arrow-right-c icon-right" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 350px;float: right;" type="submit" id="addAccount-button4" ng-click="nextSlide()"></button>
			    		</div>
			    	</div>
			    </div>
		  	</ion-slide>
		  	<ion-slide style="height:600px;">
		    	<form class="list animated bounceIn " name="searchform" class="css-form" novalidate id="searchUser-form6" ng-submit="searchform.$valid && search(searchinput)">
		    		<div class="card modal_header" style="border-radius:10px 10px 10px 10px;width:auto;">
		    			<h3 style="background-color: transparent;color: blue; font-weight: 400; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Add Team</h3>
				    	<hr>
				    	<div class="row" style="background-color: transparent;">
				    		<div class="col col-10">
				    			<button class="button button-assertive  button-inline icon ion-arrow-left-c icon-left" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 350px;float: left;" type="submit" id="addAccount-button4" ng-click="previousSlide()"></button>
				    		</div>
				    		<div class="col col-80">
				    			<div id="searchUser-input14" class="item item-input card">
					         		<input class="" type="search" id="searchTeam" placeholder="Search User" required=""  name="searchinput" type="text" ng-model="searchinput" value="" ng-change="search(searchinput)">
					         	</div>
					         	<div class="list">
						        	<li class="item" ng-repeat="i in suggestionTeamList" ng-click="searchedTeamMember(i.searchTeamList.firstname,i.searchTeamList.lastname,i.searchTeamList.phone,i.searchTeamList.email,i.searchTeamList.profession)">
						        		{{i.searchTeamList.firstname}} {{i.searchTeamList.lastname}}<br>
							            {{i.searchTeamList.phone}}<br>
							            {{i.searchTeamList.email}}<br>
							            {{i.searchTeamList.profession}}<br>
						        	</li>
						      	</div>
					         	<!-- <div ng-show="searchform.$submitted || searchform.searchinput.$touched">
					            	<div style="color:red;margin:5px;padding:5px;" ng-show="searchform.searchinput.$error.required">Please enter input to search.</div>
					         	</div> -->

					         	<!-- <button class="button button-assertive-900 button-block button-positive" id="searchUser-button15" style="font-weight:300;border-radius:10px 10px 10px 10px;">SUBMIT</button> -->
					         	<div ng-show='showFilter && searchinput'>
						      		<label id="searchUser-input14" class="item item-input ">
						         		<input  class="card" placeholder="Filter Result" type="text" ng-model="filterResult">
						         	</label>
					         	</div>
					         	<ion-list show-delete="true" can-swipe="true">
			         				<ion-item ng-repeat="k in selectedTeamLists | filter:filterResult">
							            <span class="input-label" style="color: black; font-weight: 600;">
							            	{{k.selectedTeamList.firstname}} 	{{k.selectedTeamList.lastname}}<br>
							            	{{k.selectedTeamList.phone}}<br>
							            	{{k.selectedTeamList.email}}<br>
							            	{{k.selectedTeamList.profession}}<br>
							            </span>
						            	<ion-delete-button class="ion-minus-circled" ng-click="deleteTeamListItem(i)"></ion-delete-button>
						            </ion-item>			            
			         			</ion-list>
				    		</div>
				    		<div class="col col-10">
				    			<button class="button button-positive  button-inline icon ion-arrow-right-c icon-right" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 350px;float: right;" type="submit" id="addAccount-button4" ng-click="nextSlide()"></button>
				    		</div>
				    	</div>
		    		</div>
		      	</form>
		  	</ion-slide>
		  	<ion-slide style="height:800px;border-radius:20px 20px 20px 20px;">
		  		<div class="card modal_header" style="border-radius:10px 10px 10px 10px;width:auto;">
	    			<h3 style="background-color: transparent;color: blue; font-weight: 400; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Effort Metrics
	    			</h3>				
					<h3 style="background-color: transparent;color: blue; font-weight: 300; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Spent Hours</h3>
					<h5 style="background-color: transparent;color: red; font-weight: 300; font-style: italic; text-align: right;padding-right: 20px;">*Please provide these inputs only for that week for which data is being logged</h5>
					<hr>
					<div class="row" style="background-color: transparent;">
						<div class="col col-10">
							<button class="button button-assertive  button-inline icon ion-arrow-left-c icon-left" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 450px;float: left;" type="submit" id="addAccount-button4" ng-click="previousSlide()"></button>
						</div>
						<div class="col col-80">
							<label class="item item-input card" id="requirements-input1" style="background-color:#95a5a6;">
			                    <span class="input-label" style="background-color:#95a5a6;">Requirements</span>
			                    <input type="number" placeholder="Requirements" required="" style="background-color:#95a5a6;" name="spentHours_requirements" ng-model="sptHours_requirements">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="design-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Design</span>
			                    <input type="number" placeholder="Design" required="" style="background-color:#95a5a6;" name="spentHours_design" ng-model="spentHours_design">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="build-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Build</span>
			                    <input type="number" placeholder="Build" required="" style="background-color:#95a5a6;"  name="spentHours_build" ng-model="spentHours_build">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="test-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Test</span>
			                    <input type="number" placeholder="Test" required="" style="background-color:#95a5a6;" name="spentHours_test" ng-model="spentHours_test">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="support-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Support</span>
			                    <input type="number" placeholder="Support" required="" style="background-color:#95a5a6;" name="spentHours_support" ng-model="spentHours_support">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="unproductive-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Unproductive</span>
			                    <input type="number" placeholder="Unproductive" required="" style="background-color:#95a5a6;" name="spentHours_unproductive" ng-model="spentHours_unproductive">
			                </label>
						</div>
						<div class="col col-10">
							<button class="button button-positive  button-inline icon ion-arrow-right-c icon-right" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 450px;float: right;" type="submit" id="addAccount-button4" ng-click="nextSlide()"></button>
						</div>
					</div>
				</div>
			</ion-slide>
			<ion-slide style="height:600px;border-radius:20px 20px 20px 20px;">
				<div class="card modal_header" style="border-radius:10px 10px 10px 10px;width:auto;">
					<h3 style="background-color: transparent;color: blue; font-weight: 400; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Effort Metrics</h3>
					<h3 style="background-color: transparent;color: blue; font-weight: 300; text-align: right;padding-right: 20px;" class="" id="projectDetails-heading12">Remaining Hours</h3>
					<h5 style="background-color: transparent;color: red; font-weight: 300; font-style: italic; text-align: right;padding-right: 20px;">*Please enter data for the entire sprint</h5>
					<hr>
					<div class="row" style="background-color: transparent;">
						<div class="col col-10">
							<button class="button button-assertive  button-inline icon ion-arrow-left-c icon-left" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 450px;float: left;" type="submit" id="addAccount-button4" ng-click="previousSlide()"></button>
						</div>
						<div class="col col-80">
							<label class="item item-input card" style="background-color:#95a5a6;" id="requirements-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Requirements</span>
			                    <input type="number" placeholder="Requirements" required="" style="background-color:#95a5a6;"  name="remainingHours_requirements" ng-model="remainingHours_requirements">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="design-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Design</span>
			                    <input type="number" placeholder="Design" required="" style="background-color:#95a5a6;" name="remainingHours_design" ng-model="remainingHours_design">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="build-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Build</span>
			                    <input type="number" placeholder="Build" required="" style="background-color:#95a5a6;" name="remainingHours_build" ng-model="remainingHours_build">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="test-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Test</span>
			                    <input type="number" placeholder="Test" style="background-color:#95a5a6;" required=""  name="remainingHours_test", ng-model="remainingHours_test">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="support-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Support</span>
			                    <input type="number" placeholder="Support" required="" style="background-color:#95a5a6;" name="remainingHours_support" ng-model="remainingHours_support">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="unproductive-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Unproductive</span>
			                    <input type="number" placeholder="Unproductive" required="" style="background-color:#95a5a6;"  name="remainingHours_unproductive" ng-model="remainingHours_unproductive">
			                </label>
						</div>
						<div class="col col-10">
							<button class="button button-positive  button-inline icon ion-arrow-right-c icon-right" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 450px;float: right;" type="submit" id="addAccount-button4" ng-click="nextSlide()"></button>
						</div>
					</div>
	            </div>
            </ion-slide>
            <ion-slide style="height:600px;border-radius:20px 20px 20px 20px;">
    			<div class="card modal_header" style="border-radius:10px 10px 10px 10px;width:auto;">
    				<h3 style="background-color: transparent;color: blue; font-weight: 400; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Effort Metrics</h3>
					<h3 style="background-color: transparent;color: blue; font-weight: 300; text-align: right;padding-right: 20px;" class="" id="projectDetails-heading12">Estimated Hours</h3>
					<h5 style="background-color: transparent;color: red; font-weight: 300; font-style: italic; text-align: right;padding-right: 20px;">*Please enter data for the entire sprint</h5>
					<hr>
					<div class="row" style="background-color: transparent;">
						<div class="col col-10">
							<button class="button button-assertive  button-inline icon ion-arrow-left-c icon-left" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 450px;float: left;" type="submit" id="addAccount-button4" ng-click="previousSlide()"></button>
						</div>
						<div class="col col-80">
							<label class="item item-input card" style="background-color:#95a5a6;" id="requirements-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Requirements</span>
			                    <input type="number" placeholder="Requirements" required="" style="background-color:#95a5a6;" name="estimatedHours_requirements" ng-model="estimatedHours_requirements">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="design-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Design</span>
			                    <input type="number" placeholder="Design" required="" style="background-color:#95a5a6;" name="estimatedHours_design" ng-model="estimatedHours_design">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="build-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Build</span>
			                    <input type="number" placeholder="Build" required="" style="background-color:#95a5a6;" name="estimatedHours_build" ng-model="estimatedHours_build">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="test-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Test</span>
			                    <input type="number" placeholder="Test" required="" style="background-color:#95a5a6;" name="estimatedHours_test" ng-model="estimatedHours_test">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="support-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Support</span>
			                    <input type="number" placeholder="Support" required="" style="background-color:#95a5a6;" name="estimatedHours_support" ng-model="estimatedHours_support">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="unproductive-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Unproductive</span>
			                    <input type="number" placeholder="Unproductive" required="" style="background-color:#95a5a6;" ng-model="estimatedHours_unproductive">
			                </label>								
						</div>
						<div class="col col-10">
							<button class="button button-positive  button-inline icon ion-arrow-right-c icon-right" style="font-weight:300;border-radius:10px 10px 10px 10px; height: 450px;float: right;" type="submit" id="addAccount-button4" ng-click="nextSlide()"></button>
						</div>
					</div>
		        </div>
	        </ion-slide>
	        <ion-slide style="height:850px;border-radius:20px 20px 20px 20px;">
				<div class="card modal_header" style="border-radius:10px 10px 10px 10px;width:auto;">
		            <h3 style="background-color: transparent;color: blue; font-weight: 400; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Quality Metrics
		    		</h3>						
					<h3 style="background-color: transparent;color: blue; font-weight: 300; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Stats</h3>
					<hr>
					<div class="row" style="background-color: transparent;">
						<div class="col col-10">
							<button class="button button-assertive  button-inline icon ion-arrow-left-c icon-left" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 550px;float: left;" type="submit" id="addAccount-button4" ng-click="previousSlide()"></button>
						</div>
						<div class="col col-80">
							<label class="item item-input card" style="background-color:#95a5a6;" id="junit-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Junit</span>
			                    <input type="number" placeholder="Junit" required="" style="background-color:#95a5a6;" name="qualityMetrics_stats_junit" ng-model="qualityMetrics_stats_junit">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="sonarcritical-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Sonar Critical</span>
			                    <input type="number" placeholder="Sonar Critical" required="" style="background-color:#95a5a6;"  name="qualityMetrics_stats_sonarCritical" ng-model="qualityMetrics_stats_sonarCritical">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="sonarmajor-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Sonar Major</span>
			                    <input type="number" placeholder="Sonar Major" required="" style="background-color:#95a5a6;" name="qualityMetrics_stats_sonarMajor" ng-model="qualityMetrics_stats_sonarMajor">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="defectssev1-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Defects Sev 1</span>
			                    <input type="number" placeholder="Defects Sev 1" required="" style="background-color:#95a5a6;"  name="qualityMetrics_stats_defectSev1" ng-model="qualityMetrics_stats_defectSev1">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="defectssev2-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Defects Sev 2</span>
			                    <input type="number" placeholder="Defects Sev 2" required="" style="background-color:#95a5a6;" name="qualityMetrics_stats_defectSev2" ng-model="qualityMetrics_stats_defectSev2">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="defectssev3-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Defects Sev 3</span>
			                    <input type="number" placeholder="Defects Sev 3" required="" style="background-color:#95a5a6;"  name="qualityMetrics_stats_defectSev3" ng-model="qualityMetrics_stats_defectSev3">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="defectssev4-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Defects Sev 4</span>
			                    <input type="number" placeholder="Defects Sev 4" required="" style="background-color:#95a5a6;"  name="qualityMetrics_stats_defectSev4" ng-model="qualityMetrics_stats_defectSev4">
			                </label>
			                <label class="item item-input card" style="background-color:#95a5a6;" id="defectdensity-input1">
			                    <span class="input-label" style="background-color:#95a5a6;">Defect Density</span>
			                    <input type="number" placeholder="Defect Density" required="" style="background-color:#95a5a6;"  name="qualityMetrics_stats_defectDensity" ng-model="qualityMetrics_stats_defectDensity">
			                </label>
						</div>
						<div class="col col-10">
							<button class="button button-positive  button-inline icon ion-arrow-right-c icon-right" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 550px;float: right;" type="submit" id="addAccount-button4" ng-click="nextSlide()"></button>
						</div>
					</div>
	            </div>
            </ion-slide>
            <ion-slide style="height:600px;border-radius:20px 20px 20px 20px;">
            	<ion-content>            		
        			<div class="card modal_header" style="border-radius:10px 10px 10px 10px;width:auto;">
			            <h3 style="background-color: transparent;color: blue; font-weight: 400; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Productivity Metrics
			    		</h3>						
						<h3 style="background-color: transparent;color: blue; font-weight: 300; text-align: right;padding-right: 20px;" id="projectDetails-heading12">Stats</h3>
						<hr>
						<div class="row" style="background-color: transparent;">
							<div class="col col-10">
								<button class="button button-assertive  button-inline icon ion-arrow-left-c icon-left" style="font-weight:300;border-radius:10px 10px 10px 10px;height: 150px;float: left;" type="submit" id="addAccount-button4" ng-click="previousSlide()"></button>
							</div>
							<div class="col col-90">
								<label class="item item-input card" style="background-color:#95a5a6;" id="storypoints-input1">
				                    <span class="input-label" style="background-color:#95a5a6;">Storypoints</span>
				                    <input type="number" placeholder="Storypoints" required="" style="background-color:#95a5a6;" name="productivityMetrics_stats_storypoints" ng-model="productivityMetrics_stats_storypoints">
				                </label>
				                <label class="item item-input card" style="background-color:#95a5a6;" id="velocity-input1">
				                    <span class="input-label" style="background-color:#95a5a6;">Velocity</span>
				                    <input type="number" placeholder="Velocity" required="" style="background-color:#95a5a6;" name="productivityMetrics_stats_velocity" ng-model="productivityMetrics_stats_velocity">
				                </label>
							</div>
						</div>
						<button class="button button-block button-positive" style="font-weight:300;border-radius:10px 10px 10px 10px;" id="searchUser-button15" ng-click="projectSnapShot(programSelect,projectSelect,sprint,isSprintActive,startDate,endDate,userStoryCount,sptHours_requirements,spentHours_design,spentHours_build,spentHours_test,spentHours_support,spentHours_unproductive,remainingHours_requirements,remainingHours_design,remainingHours_build,remainingHours_test,remainingHours_support,remainingHours_unproductive,estimatedHours_requirements,estimatedHours_design,estimatedHours_build,estimatedHours_test,estimatedHours_support,estimatedHours_unproductive,qualityMetrics_stats_junit,qualityMetrics_stats_sonarCritical,qualityMetrics_stats_sonarMajor,qualityMetrics_stats_defectSev1,qualityMetrics_stats_defectSev2,qualityMetrics_stats_defectSev3,qualityMetrics_stats_defectSev4,qualityMetrics_stats_defectDensity,productivityMetrics_stats_storypoints,productivityMetrics_stats_velocity)">SUBMIT</button>
			  		</div>  								  					  		
		  		</ion-content>
		  	</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>