<ion-view style="background-color: transparent;" title="Add Account and details.." hide-back-button="true" id="page10" class=" ">
    <ion-content padding="false" class="manual-ios-statusbar-padding" ng-controller="dashboardCtrl" style="" scroll="true" padding="false" class="manual-ios-statusbar-padding">
	    <div class="">
	    		<form id="signIn-form2" class="list" name="signinForm" novalidate>
		    		<label class="item item-select card" name="id" id="accountList-select1" style="border-radius:10px 10px 10px 10px;width:90%;">
			            <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Accounts</span>
			            <select id="accountList" style="font-weight:500;font-size:15px;width:90%;" ng-model="id">
			            	<option ng-repeat="lst in projectLst" value="{{lst.id}}">{{lst.name}}</option>
			            </select>
			        </label>
			        <!-- <ion-delete-button class="ion-plus-circled"></ion-delete-button> -->
			        <button class="button button-assertive  button-block" style="font-weight:300;border-radius:50px 50px 50px 50px;float:right;" type="submit" id="addAccount-button4" ng-click="addAccountModal.show()">Add Account</button>
			        <div class="spacer" style="width: 250px; height: 100px;"></div>
			        <label class="item item-select card" name="id" id="projectList-select1" style="border-radius:10px 10px 10px 10px;width:90%;">
			            <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Project</span>
			            <select id="accountList" style="font-weight:500;font-size:15px;width:90%;" ng-model="id">
			            	<option></option>
			            </select>
			        </label>
			        <!-- <ion-delete-button class="ion-plus-circled"></ion-delete-button> -->
			        <button class="button button-assertive  button-block" style="font-weight:300;border-radius:50px 50px 50px 50px;float:right;" type="submit" id="addProject-button4" ng-click="createProjectModal.show()">Add Project</button>
			        <div class="spacer" style="width: 250px; height: 100px;"></div>
			        <label class="item item-select card" name="id" id="programList-select1" style="border-radius:10px 10px 10px 10px;width:90%;">
			            <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Program</span>
			            <select id="programList" style="font-weight:500;font-size:15px;width:90%;" ng-model="id">
			            	<option></option>
			            </select>
			        </label>
			        <!-- <ion-delete-button class="ion-plus-circled"></ion-delete-button> -->
			        <button class="button button-assertive  button-block" style="font-weight:300;border-radius:50px 50px 50px 50px;float:right;" type="submit" id="addProgram-button4" ng-click="createProgramModal.show()">Add Program</button>
	    		</form>
		</div>	
    </ion-content>
</ion-view>