<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">Refine Dashboard</h1>
      <button class="button button-clear button-primary" ng-click="refineDashbaordModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
    	<div style="height:auto;width:auto;padding:10px;margin:3px;">
    		<div class="card" style="border-radius:10px 10px 10px 10px;">
				<label class="item item-select" id="programId-select1" style="border-radius:10px 10px 10px 10px;width:auto;">
					<span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Program</span>
					<select style="font-weight:500;font-size:15px;width:90%;" ng-model="data.projectSelect">
						<option ng-repeat="lst in projectLst" value="{{lst.id}}">{{lst.name}}
						</option>
					</select>
				</label>
				<label class="item item-select" id="projectId-select1" style="border-radius:10px 10px 10px 10px;width:auto;">
					<span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Project</span>
					<select style="font-weight:500;font-size:15px;width:90%;" ng-model="data.projectSelect">
						<option ng-repeat="lst in projectLst" ng-init="Select" value="{{lst.id}}">{{lst.name}}
						</option>
					</select>
				</label>
				<label class="item item-select" id="sprintId-select1" style="border-radius:10px 10px 10px 10px;width:auto;">
					<span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Sprint</span>
					<select style="font-weight:500;font-size:15px;width:90%;" ng-model="data.projectSelect">
						<option ng-repeat="lst in projectLst" value="{{lst.id}}">{{lst.name}}
						</option>
					</select>
				</label>
				<label class="item item-input" id="fromDate-input7" style="border-radius:10px 10px 10px 10px;width:auto;">
                    <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">From Date</span>
                    <input type="date" placeholder="mm/dd/yyyy" ng-model="startDate" name="startDate">
                </label> 
                <label class="item item-input" id="toDate-input8" style="border-radius:10px 10px 10px 10px;width:auto;">
                    <span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">To Date</span>
                    <input type="date" placeholder="mm/dd/yyyy" ng-model="endDate" name="endDate">
                </label>
                <label class="item item-select" id="interval-select1" style="border-radius:10px 10px 10px 10px;width:auto;">
					<span class="input-label" style="font-weight:500;font-size:15px;text-align:left;">Interval</span>
					<select style="font-weight:500;font-size:15px;width:90%;" ng-model="data.projectSelect">
						<option ng-repeat="lst in projectLst" value="{{lst.id}}">{{lst.name}}
						</option>
					</select>
				</label>                
    		</div>
    		<button class="button button-assertive button-block" style="font-weight:300;border-radius:10px 10px 10px 10px;" type="submit" id="refineDashboard-button4" ng-click="AllChrts($scope.data.sprintNo, $scope.data.projectSelect);">Refine</button>
    	</div>
    </ion-content>
</ion-modal-view>