<ion-view style="" title="User Profile" hide-back-button="true" id="page9" class=" ">
	<ion-content padding="true" class="manual-ios-statusbar-padding">
		<!-- <label class="item modal_header" id="effortExtended" style="margin: auto;border-radius:10px 10px 10px 10px;width:90%;font-weight: 500;">
            <span class="" style="font-weight:500;font-size:15px;text-align:center;color: black;">
            {{userDetails.firstname}} {{userDetails.lastname}} ({{userDetails.id}})<br>
            {{userDetails.email}}<br>
            {{userDetails.phone}}<br>
            {{userDetails.designation.profession}} - ({{userDetails.designation.specialization}})<br>
            </span>
            <span>Tags :</span>
            <li class="" tabindex="1" ng-repeat="t in userDetails.tags"> 
	        	{{t.name}}
	        </li>
	        <span>Roles :</span>
            <li class="" tabindex="1" ng-repeat="r in userDetails.roles"> 
	        	{{r.name}}
	        </li>
        </label> -->
        <div id="searchUser-input14" style="border-radius:10px 10px 10px 10px;width:90%;margin-left: 10px;" class="item item-input card">
     		<input class="" type="search" id="searchTeam" placeholder="Search User" required=""  name="searchinput" type="text" ng-model="searchinput" value="" ng-change="search(searchinput)">
     	</div>
     	<div class="list">
        	<li class="item" ng-repeat="i in suggestionTeamList" ng-click="searchedTeamMember(i.searchTeamList.id,i.searchTeamList.firstname,i.searchTeamList.lastname,i.searchTeamList.phone,i.searchTeamList.email,i.searchTeamList.profession, i.searchTeamList.roles)">
        		{{i.searchTeamList.firstname}} {{i.searchTeamList.lastname}}<br>
	            {{i.searchTeamList.phone}}<br>
	            {{i.searchTeamList.email}}<br>
	            {{i.searchTeamList.profession}}<br>
        	</li>
      	</div>
     	<div ng-show='showFilter && searchinput'>
      		<label id="searchUser-input14" class="item item-input ">
         		<input  class="card" placeholder="Filter Result" type="text" ng-model="filterResult">
         	</label>
     	</div>
     	<!-- <ion-list show-delete="true" can-swipe="true"> -->
     	<div id="searchTeamList" style="height: 400px;overflow: auto;">
			<li class="item" style="background-color: #dfdfdf;" tabindex="1" ng-repeat="k in selectedTeamLists | filter:filterResult">
	            <div class="col 10">
                    <button style="" class="button icon ion-paintbrush" ng-click="editTeamListItem(k)">
                    {{val}}
                    </button>
                </div>
                <br>
            	{{k.selectedTeamList.firstname}} 	{{k.selectedTeamList.lastname}}<br>
            	{{k.selectedTeamList.phone}}<br>
            	{{k.selectedTeamList.email}}<br>
                Roles: <br>
                <label ng-repeat="r in k.selectedTeamList.roles"> 
                    {{r.name}}<br>
                </label>
                <label style="" ng-hide=isHide>                    
                    Add or remove role:<br>
                    <label ng-repeat="r in userRoleByAdmin">
                        <input type="checkbox" value="r.usrRole" ng-model="r.usrRole"> {{r.usrRole}}
                        <!-- <ion-toggle ng-model="userRoles" name="userRoles" toggle-class="toggle-calm card" style="border-radius:10px 10px 10px 10px;width:90%;margin:10px;background-color:#95a5a6;">{{r.usrRole}}</ion-toggle> -->
                    </label>
                </label>
                <div class="row" style="background-color: transparent;">
                    <div class="col 10">
                        <button style="border-radius:70px 70px 70px 70px;" class="button button-assertive icon ion-minus" ng-click="deleteTeamListItem(k)"></button>
                    </div>
                    <div class="col 90">
                    </div>                       
                </div>
                <hr>
            </li>						            
        </div>
	</ion-content>
</ion-view>