<ion-view style="" title="User Profile" hide-back-button="true" id="page9" class=" ">
	<ion-content padding="true" class="manual-ios-statusbar-padding">
        <div id="searchUser-input14" style="border-radius:10px 10px 10px 10px;width:90%;margin-left: 10px;" class="item item-input card">
     		<input class="" type="search" id="searchTeam" placeholder="Search User" required=""  name="searchinput" type="text" ng-model="searchinput" value="" ng-change="search(searchinput)">
     	</div>
     	<div class="list">
        	<li class="item" ng-repeat="i in suggestionTeamList" ng-click="searchedTeamMember(i.searchTeamList.id,i.searchTeamList.firstname,i.searchTeamList.lastname,i.searchTeamList.phone,i.searchTeamList.email,i.searchTeamList.profession, i.searchTeamList.roles)">
        		{{i.searchTeamList.firstname}} {{i.searchTeamList.lastname}}<br>
	            {{i.searchTeamList.phone}}<br>
	            {{i.searchTeamList.email}}<br>
	            {{i.searchTeamList.profession}}<br>
        	</li>
      	</div>
     	<div ng-show='showFilter && searchinput'>
      		<label id="searchUser-input14" class="item item-input ">
         		<input  class="card" placeholder="Filter Result" type="text" ng-model="filterResult">
         	</label>
     	</div>
        

     	<!-- <ion-list show-delete="true" can-swipe="true"> -->
     	<div id="searchTeamList" style="height: 400px;overflow: auto;">
            <li class="item" style="background-color: #dfdfdf;" tabindex="1" ng-repeat="k in selectedTeamLists | filter:filterResult">
                <div class="row" style="background-color: transparent;">
                    <div class="col col-100">
                        <button style="border-radius:10px 10px 10px 10px;" class="button button-assertive button-block" ng-click="deleteTeamListItem(k)">Remove</button>
                    </div>                       
                </div>
                <span class="input-label" style="border-radius:10px 10px 10px 10px;width:90%;color:black; font-weight: 500;">
                    {{k.selectedTeamList.firstname}} {{k.selectedTeamList.lastname}}<br>
                    {{k.selectedTeamList.phone}}<br>
                    {{k.selectedTeamList.email}}<br>
                </span>
                <div class="row" style="background-color: transparent;">
                    <div class="col col-80">
                        Current Roles: <br>
                        <label ng-repeat="r in k.selectedTeamList.roles"> 
                            {{r.name}}<br>
                        </label>
                    </div>
                    <div class="col col-20">
                        <button style="border-radius:30px 30px 30px 30px;" class="button icon ion-paintbrush" ng-click="editTeamListItem()">
                            {{val}}
                        </button>
                    </div>
                </div>
                <div class="row" style="background-color: transparent;" ng-hide=isHide>
                    <ion-toggle ng-repeat="a in userRoleByAdmin" ng-model="role" ng-change="usrRoleAdded(a.usrRole, role)" name="usrRole" toggle-class="toggle-calm card" style="border-radius:10px 10px 10px 10px;width:90%;margin:10px;background-color:#95a5a6;"><br>{{a.usrRole}}</ion-toggle>
                    <br>
                    <div class="col col-30">
                        <button class="button button-balanced icon ion-checkmark-circled" style="height: 100%;border-radius:10px 10px 10px 10px;" ng-click="updateUserRoleByAdmin(k.selectedTeamList.email)"></button>
                    </div>
                </div>
                <!-- <select class="item item-select" multiple ng-model="userRoleModel" ng-options="option.name for option in userRoleThroughAdmin"> -->
                    <!-- <option ng-repeat="option in userRoleThroughAdmin" value="{{option}}">{{option}}</option> -->
                <!-- </select> -->
                <!-- <div ng-dropdown-multiselect="" options="userRoleThroughAdmin" selected-model="userRoleModel"></div> -->
                
	            <!-- <div class="col 10">
                    <button style="" class="button icon ion-paintbrush" ng-click="editTeamListItem(k)">
                    {{val}}
                    </button>
                </div> -->
                <!-- <br>
            	{{k.selectedTeamList.firstname}} 	{{k.selectedTeamList.lastname}}<br>
            	{{k.selectedTeamList.phone}}<br>
            	{{k.selectedTeamList.email}}<br>
                Roles: <br>
                <label ng-repeat="r in k.selectedTeamList.roles"> 
                    {{r.name}}<br>
                </label>
                <label style="" ng-hide=isHide>                    
                    Add or remove role:<br>
                    <label ng-repeat="r in userRoleByAdmin">
                        <input type="checkbox" value="r.usrRole" ng-model="r.usrRole"> {{r.usrRole}}
                    </label>
                </label>
                <div class="row" style="background-color: transparent;">
                    <div class="col 10">
                        <button style="border-radius:70px 70px 70px 70px;" class="button button-assertive icon ion-minus" ng-click="deleteTeamListItem(k)"></button>
                    </div>
                    <div class="col 90">
                    </div>                       
                </div> -->
                <!-- <hr> -->
            </li>						            
        </div>
	</ion-content>
</ion-view>