<ion-view style="" title="User Profile" hide-back-button="true" id="page9" class=" ">
	<ion-content padding="true" class="manual-ios-statusbar-padding">
		<!-- <label class="item modal_header" id="effortExtended" style="margin: auto;border-radius:10px 10px 10px 10px;width:90%;font-weight: 500;">
            <span class="" style="font-weight:500;font-size:15px;text-align:center;color: black;">
            {{userDetails.firstname}} {{userDetails.lastname}} ({{userDetails.id}})<br>
            {{userDetails.email}}<br>
            {{userDetails.phone}}<br>
            {{userDetails.designation.profession}} - ({{userDetails.designation.specialization}})<br>
            </span>
            <span>Tags :</span>
            <li class="" tabindex="1" ng-repeat="t in userDetails.tags"> 
	        	{{t.name}}
	        </li>
	        <span>Roles :</span>
            <li class="" tabindex="1" ng-repeat="r in userDetails.roles"> 
	        	{{r.name}}
	        </li>
        </label> -->
        <div id="searchUser-input14" style="border-radius:10px 10px 10px 10px;width:90%;margin-left: 10px;" class="item item-input card">
     		<input class="" type="search" id="searchTeam" placeholder="Search User" required=""  name="searchinput" type="text" ng-model="searchinput" value="" ng-change="search(searchinput)">
     	</div>
     	<div class="list">
        	<li class="item" ng-repeat="i in suggestionTeamList" ng-click="searchedTeamMember(i.searchTeamList.id,i.searchTeamList.firstname,i.searchTeamList.lastname,i.searchTeamList.phone,i.searchTeamList.email,i.searchTeamList.profession)">
        		{{i.searchTeamList.firstname}} {{i.searchTeamList.lastname}}<br>
	            {{i.searchTeamList.phone}}<br>
	            {{i.searchTeamList.email}}<br>
	            {{i.searchTeamList.profession}}<br>
        	</li>
      	</div>
     	<!-- <div ng-show="searchform.$submitted || searchform.searchinput.$touched">
        	<div style="color:red;margin:5px;padding:5px;" ng-show="searchform.searchinput.$error.required">Please enter input to search.</div>
     	</div> -->

     	<!-- <button class="button button-assertive-900 button-block button-positive" id="searchUser-button15" style="font-weight:300;border-radius:10px 10px 10px 10px;">SUBMIT</button> -->
     	<div ng-show='showFilter && searchinput'>
      		<label id="searchUser-input14" class="item item-input ">
         		<input  class="card" placeholder="Filter Result" type="text" ng-model="filterResult">
         	</label>
     	</div>
     	<!-- <ion-list show-delete="true" can-swipe="true"> -->
     	<div id="searchTeamList" style="height: 400px;overflow: auto;">
				<li class="item" tabindex="1" ng-repeat="k in selectedTeamLists | filter:filterResult">
	            <!-- <span class="input-label card" style="color: black; font-weight: 600;width: 90%;"> -->
	            	{{k.selectedTeamList.firstname}} 	{{k.selectedTeamList.lastname}}<br>
	            	{{k.selectedTeamList.phone}}<br>
	            	{{k.selectedTeamList.email}}<br>
	            	<!-- {{k.selectedTeamList.profession}}<br> -->
	            	<!-- <span> -->
			            <select style="font-weight:500;font-size:15px;width:90%;" ng-model="k.selectedTeamList.profession" ng-options="i.role as i.role for i in roleList" ng-change="roleChange(k.selectedTeamList.id,k.selectedTeamList.firstname,k.selectedTeamList.lastname,k.selectedTeamList.phone,k.selectedTeamList.email,k.selectedTeamList.profession)">
			            	<option value="">select Role</option>
						</select>										
		            <!-- </span> -->
		            <br>
		            <br>
	            <!-- </span> -->							        	    
            	<button class="button button-assertive icon ion-minus-circled" ng-click="deleteTeamListItem(k)"></button>
            </li>						            
        </div>
	</ion-content>
</ion-view>