/* Empty. Add your own CSS if you like */
ion-scroll {
    white-space: nowrap;
    height: 250px;
}

.vranger {
  margin-top: 100px;
   transform: rotate(270deg);
  -moz-transform: rotate(270deg); /*do same for other browsers if required*/
}

.modal_header {
	background-color:#dfdfdf;
}

.modal_background {
	background-color:#95a5a6;
}

.tab_header {
	background-color: #16174f;
	color:#dfdfdf;
}

.side_menu {
	background-color: #16174f;
}

.background-image {
  background-image: url('../img/background/image.jpg');
  width: 100vw;
  height: 100vh;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}